<!-- login.component.html -->
<div class="auth-container">
  <div class="auth-header">
    <h2 style="color: var(--accent-green)">TRANSTU</h2>

    <br />

    <h1 class="auth-title">Réinitialiser votre mot de passe</h1>
    <p class="auth-subtitle">
      Saisissez votre e-mail pour vérifier votre compte Transtu
    </p>
  </div>

  <div class="auth-card">
    <div *ngIf="error.show">
      <app-warning [message]="error.message"></app-warning>
    </div>

    <form>
      <div class="form-group">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input
          type="email"
          name="email"
          class="form-input"
          placeholder="you@example.com"
          required
          [(ngModel)]="email"
        />
      </div>

      <button type="submit" class="submit-button" (click)="onEmailSend()">
        Envoyer un e-mail de récupération
      </button>

      <div style="text-align: center; margin-top: 15px">
        <a
          routerLink="../login"
          style="color: var(--accent-green); text-decoration: none"
          >Retour à la connexion
        </a>
      </div>
    </form>
  </div>
</div>
