<div class="top-bar">
  <h2 class="page-title">Gestion des Agents</h2>

  <div class="action-buttons" style="margin-right: 22px;">

    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Recherche Agent">
    </div>

    <button
      (click)="setAddAgentModal(true)"
      class="button button-primary"
      id="add-employee-btn"
    >
      <i class="fa-solid fa-plus"></i> Nouvel Agent
    </button>

    
  </div>
</div>

<div *ngIf="showFetchError" style="width: 100%">
  <app-warning [message]="'Erreur de récupération des agents'"></app-warning>
</div>

<div class="card" *ngIf="!showFetchError">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Matricule</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Role</th>
          <th>Département</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agentList">
          <td>{{ agent.matricule }}</td>
          <td>{{ agent.nom }}</td>
          <td>{{ agent.prenom }}</td>
          <td>
            {{ agent.role == "driver" ? "Chauffeur" : "Receveur" }}
          </td>
          <td>
            {{ agent.district }}
          </td>
          <td class="action-cell">
            <button
              class="button-icon edit"
              (click)="setAgentToUpdate(agent.matricule)"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              (click)="setAgentToDelete(agent.matricule)"
              class="button-icon delete"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showAddAgentModal">
  <app-create-agent-modal
    (modalClose)="setAddAgentModal(false)"
    (onAgentCreated)="createAgent($event)"
  ></app-create-agent-modal>
</div>

<div *ngIf="showUpdateAgentModal">
  <app-update-agent-modal
    [agentData]="agentToUpdate"
    (modalClose)="setUpdateAgentModal(false)"
    (onAgentUpdated)="updateAgent($event)"
  ></app-update-agent-modal>
</div>

<div *ngIf="showDeleteConfirmation">
  <app-delete-confirm-modal
    message="Êtes-vous sûr de vouloir supprimer cet agent ?"
    (onClose)="closeConfirmation()"
    (onConfirm)="deleteAgent()"
  ></app-delete-confirm-modal>
</div>
