<div class="top-bar">
  <h2 class="page-title">Gestion des conges</h2>

  <div class="action-buttons">

    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Recherche Conge">
    </div>


    <button
      (click)="setShowAddCongeModal(true)"
      class="button button-primary"
      id="add-employee-btn"
    >
      <i class="fa-solid fa-plus"></i> Nouvel congé
    </button>
  </div>
</div>

<div class="card">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Agent</th>
          <th>Date debut</th>
          <th>Date fin</th>
          <th>Jours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conge of conges">
          <td>{{ conge.agentName }}</td>
          <td>{{ conge.dateDebut }}</td>
          <td>{{ conge.dateFin }}</td>
          <td>{{ conge.nbrJours }}</td>
          <td class="action-cell">
            <button
              class="button-icon edit"
              (click)="setCongeToUpdate(conge.id)"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              class="button-icon delete"
              (click)="setCongeToDelete(conge.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showAddCongeModal">
  <app-ajouter-conge-modal
    (modalClose)="setShowAddCongeModal(false)"
    (congeCreated)="creerConge($event)"
  ></app-ajouter-conge-modal>
</div>

<div *ngIf="showModifierCongeModal">
  <app-modifier-conge
    [congeData]="congeToUpdate"
    (modalClose)="setShowModifierCongeModal(false)"
    (congeUpdated)="updateConge($event)"
  ></app-modifier-conge>
</div>

<div *ngIf="showDeleteConfirmation">
  <app-delete-confirm-modal
    (onClose)="closeDeleteConfirmation()"
    (onConfirm)="deleteConge()"
    message="Êtes-vous sûr de vouloir supprimer cet congé ?"
  >
  </app-delete-confirm-modal>
</div>
