<!-- login.component.html -->
<div class="auth-container">
  <div class="auth-header">
    <h2 style="color: var(--accent-green)">TRANSTU</h2>

    <br />

    <h1 class="auth-title">Réinitialiser votre mot de passe</h1>
    <p class="auth-subtitle">
      Saisissez votre e-mail pour vérifier votre compte Transtu
    </p>
  </div>

  <div class="auth-card">
    <div *ngIf="error.show">
      <app-warning [message]="error.message"></app-warning>
    </div>

    <form>
      <div class="form-group">
        <label for="email" class="form-label">Code de récupération</label>
        <input
          type="text"
          name="code"
          class="form-input"
          [(ngModel)]="resetData.code"
          required
        />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Nouveau mot de passe</label>
        <input
          type="password"
          name="password"
          class="form-input"
          required
          [(ngModel)]="resetData.password"
        />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Confirmation mot de passe</label>
        <input
          type="password"
          name="confirmPassword"
          class="form-input"
          required
          [(ngModel)]="resetData.confirmPassword"
        />
      </div>

      <button type="submit" class="submit-button" (click)="onReset()">
        Modifier mot de passe
      </button>

      <div style="text-align: center; margin-top: 15px">
        <a
          routerLink="../login"
          style="color: var(--accent-green); text-decoration: none"
          >Retour à la connexion
        </a>
      </div>
    </form>
  </div>
</div>
