<div class="container">
    <h2>Réinitialisation du mot de passe</h2>
    
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <label for="email">Email :</label>
      <input id="email" type="email" formControlName="email" required>
  
      <label for="code">Code reçu :</label>
      <input id="code" type="text" formControlName="code" required>
  
      <label for="password">Nouveau Mot de Passe :</label>
      <input id="password" type="password" formControlName="password" required>
  
      <button type="submit" [disabled]="resetForm.invalid">Réinitialiser</button>
    </form>
  
    <p *ngIf="message" class="success">{{ message }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  