<div class="modal-overlay" id="employee-modal">
    <div class="modal">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Configuration date</h3>
        <button class="close-button" id="close-modal">
          &times;
        </button>
      </div>
  
      <!-- Modal Body -->
      <div class="modal-body">

        <div *ngIf="modalError.show" >
            <app-warning [message]="modalError.message" ></app-warning>
        </div>

        <!-- Matricule agent -->
        <div class="form-row">
          <div class="form-group" style="width: 100%">
            <label for="agentId">Matricule agent</label>
            <input
              type="text"
              class="form-control"
              name="agentId"
              placeholder="Entrer matricule de l'agent"
              required
              [(ngModel)]="data.agentId"
            />
          </div>
        </div>
  
        <!-- Dates -->
        <div class="form-row">
          <div class="form-group">
            <label for="startDate">Date de début</label>
            <input
              type="date"
              class="form-control"
              name="startDate"
              required
              [(ngModel)]="data.dateDebut"
            />
          </div>
          <div class="form-group">
            <label for="endDate">Date de fin</label>
            <input
              type="date"
              class="form-control"
              name="endDate"
              required
              [(ngModel)]="data.dateFin"
            />
          </div>
        </div>
      </div>
  
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="button button-black" (click)="closeModal()" >Annuler</button>
        <button class="button button-primary" (click)="filter()" >Appliquer</button>
      </div>
    </div>
  </div>
  