<div class="modal-overlay" id="employee-modal">
  <div class="modal">
    <!-- Modal Header -->
    <div class="modal-header">
      <h3 class="modal-title">Ajouter défaillance</h3>
      <button (click)="closeModal()" class="close-button" id="close-modal">
        &times;
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <div *ngIf="modalError.show">
        <app-warning [message]="modalError.message"></app-warning>
      </div>
      <!-- Matricule agent -->
      <div class="form-row">
        <div class="form-group" style="width: 100%">
          <label for="agentId">Matricule agent</label>
          <input
            type="text"
            class="form-control"
            name="agentId"
            placeholder="Entrer matricule de l'agent"
            [(ngModel)]="defaillance.agentId"
            required
          />
        </div>
      </div>

      <!-- Dates -->
      <div class="form-row">
        <div class="form-group">
          <label for="startDate">Date de début</label>
          <input
            type="date"
            class="form-control"
            name="startDate"
            [(ngModel)]="defaillance.dateDebut"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDate">Date de fin</label>
          <input
            type="date"
            class="form-control"
            name="endDate"
            [(ngModel)]="defaillance.dateFin"
            required
          />
        </div>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <button class="button button-black" (click)="closeModal()">
        Annuler
      </button>
      <button class="button button-primary" (click)="addDefaillance()">
        Enregistrer
      </button>
    </div>
  </div>
</div>
