<div class="top-bar">
  <h2 class="page-title">Gestion des defaillances</h2>

  <div class="action-buttons">

    <form (ngSubmit)="onSearch()">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input [(ngModel)]="searchInput" name="searchInput" type="text" placeholder="Recherche Defaillance">
      </div>
    </form>

    <button
      class="button button-primary"
      (click)="toggleDefaillancesModal(true)"
      id="add-employee-btn"
    >
      <i class="fa-solid fa-plus"></i> Nouvel defaillance
    </button>
  </div>
</div>

<div class="card">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Agent</th>
          <th>Date debut</th>
          <th>Date fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let def of defaillances">
          <td>{{ def.agentNom }} {{ def.agentPrenom }}</td>
          <td>{{ def.dateDebut }}</td>
          <td>{{ def.dateFin }}</td>
          <td class="action-cell">
            <button
              (click)="setDefaillanceToUpdate(def.id)"
              class="button-icon edit"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              (click)="setDefaillanceToDelete(def.id)"
              class="button-icon delete"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showDefaillancesModal">
    <app-ajouter-defaillance-modal
      (modalClose)="toggleDefaillancesModal(false)"
      (defaillanceCreated)="addDefaillance($event)"
    ></app-ajouter-defaillance-modal>
  </div>

  <div *ngIf="showModifierDefaillanceModal">
    <app-modifier-defaillance
      (modalClose)="toggleModifierModal(false)"
      [defaillanceData]="defaillanceToUpdate"
      (onDefaillanceUpdated)="updateDefaillance($event)"
    ></app-modifier-defaillance>
  </div>
</div>

<div *ngIf="showConfirmationModal">
  <app-delete-confirm-modal
    message="Êtes-vous sûr de vouloir supprimer cet defaillance ?"
    (onClose)="closeConfirmation()"
    (onConfirm)="deleteDefaillance()"
  ></app-delete-confirm-modal>
</div>
