<div class="top-bar">
  <h2 class="page-title">Travail Prevu</h2>

  <div class="action-buttons">
    <button
      class="button button-primary"
      id="add-employee-btn"
      (click)="genererTravailPrevu()"
    >
      <i class="fa-solid fa-plus"></i> Générer travail prévu
    </button>
  </div>
</div>

<app-warning
  *ngIf="toursServices.length == 0"
  message="Pas de travail prevu pour demain"
></app-warning>

<div class="card">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Code Service</th>
          <th>Ligne</th>
          <th>Type Bareme</th>
          <th>Chauffeur</th>
          <th>Receveur</th>
          <th>Vehicule</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tour of toursServices">
          <td>{{ tour.code_service }}</td>
          <td>{{ tour.ligne }}</td>
          <td>{{ tour.type_bareme }}</td>
          <td>{{ tour.chauffeur }}</td>
          <td>{{ tour.receveur }}</td>
          <td>{{ tour.panier }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <div class="pagination-info">
      Travail prevu pour date : {{ tomorrowDate }}
    </div>
  </div>
</div>
