<div class="top-bar">
  <h2 class="page-title">Travail Prevu</h2>

  <p>
    Travail prevu pour date : {{ targetDate.day }} / {{ targetDate.month }} /
    {{ targetDate.year }}
  </p>

  <div class="action-buttons">
    <button
      (click)="genererPrevu()"
      class="button button-primary"
      id="add-employee-btn"
    >
      <i class="fa-solid fa-plus"></i> Générer travail prévu
    </button>
  </div>
</div>

<app-warning
  *ngIf="toursServices.length == 0"
  message="Pas de travail prevu pour demain"
></app-warning>

<div class="card">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Chauffeur</th>
          <th>Receveur</th>
          <th>Heures Jour</th>
          <th>Heures Nuit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tour of toursServices">
          <td>{{ tour.driver }}</td>
          <td>{{ tour.receiver }}</td>
          <td>{{ tour.heures_jour }}</td>
          <td>{{ tour.heures_nuit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
