<aside class="w-64 h-screen bg-white border-r border-gray-200 fixed">
  <div class="p-4">
    <h1 class="text-2xl font-bold text-gray-800">Transtu</h1>
    <nav class="mt-8">
      <a
        routerLink="../dashboard/employees"
        class="flex items-center px-4 py-3 mt-2 text-gray-600 hover:bg-gray-100 rounded-lg"
      >
        <span class="mx-3">Gestion des Agents</span>
      </a>
      <a
        routerLink="../dashboard/prevu"
        class="flex items-center px-4 py-3 mt-2 text-gray-600 hover:bg-gray-100 rounded-lg"
      >
        <span class="mx-3">Travail Prévu</span>
      </a>
    </nav>
  </div>
</aside>
